* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fff0f5;
}
header {
    width: 100%;
}
figure>img {
    border-radius: 50%;
    width: 200px;
    display: block;
    margin: 1rem auto;

}
figcaption {
    text-align: center;
}
h1 {
    text-align: center;
}
ul {
    list-style: none;
    margin-left: 1rem;
}
#studies p {
    padding-left: 1rem;
}
li:before {
    content: "* " 
 }
 #profil {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     margin: 1rem auto;
     line-height: 2rem;
 }
 #studies {
     background-color: #6FACE1;
     color: #fff;
     width: 23rem;
 }
 #competences {
     background-color: #6FACE1;
     color: #fff;
 }
 .titrecomp {
     background-color: #fff0f5;
     color: #000;
     padding-bottom: 2rem;
     
 }
.projet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
li {
    padding-right: .5rem;
}
.pjt {
    margin: 2rem auto;
    background-color: #6FACE1;
    width: 18rem;
}
.pjt img {
    position: relative;
    margin: 1rem 1rem ;
}
.pjt a {
    color: #fff;
}
#contact {
    margin-bottom: 2rem;
}
 @media screen and (min-width: 700px) {
     header {
         position: relative;
     }
     h1 {
         line-height: 4rem;
     }
     #profil {
         justify-content: space-around;
     }
     figure>img {
         position: absolute;
         right: 3rem;
         top: 0;
         margin-bottom: 2rem;
     }
     figcaption {
         width:20%;
         position: absolute;
         left: 3rem;
         top:2rem;
         text-align: left;
     }
     li {
         padding-top: .8rem;
     }
     #prof {
        position: relative;
        top: 15rem;
     }
     #pj {
         position: relative;
         top: 25rem;
        
     }
     #foot {
         position: relative;
         top: 33rem;
     }
   
 }